@use './variables' as *;
@import './atoms/atoms';

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    justify-items: center;
    align-items: center;
}

.design-archives ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

