@use './partials/variables' as *;
@use './partials/atoms/atoms' as *;

@mixin center {
    margin: 0 auto;
    width: fit-content;
}

.lg-img {
    width: 50vw;
    height: auto;
    box-shadow: 0 3px 10px rgb(100 100 100 / 0.5);
    border-radius: 4px;
}

body {
    background: $dark-green;
    text-align: center;
    @include center;
    width: 60%;
}
