@import './partials/variables';
@import './partials/atoms/atoms';
@import './partials/molecules';
@import './partials/organisms';
@import './partials/small';
@import './partials/medium';
@import './partials/large';

@mixin center {
    margin: 0 auto;
    width: fit-content;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
